.git
.github
.idea
.vscode
backend/.pytest_cache
backend/.ruff_cache
backend/.venv
backend/**/__pycache__
coverage
dist
node_modules
bot-engine/target
pocketbase/pb_data
src/wasm/*.wasm
*.log
*.local
