{
	auto_https off
	admin off
}

:80 {
	encode zstd gzip

	@pocketbase_admin path /pb/_* /pb/api/backups* /pb/api/collections /pb/api/settings*
	handle @pocketbase_admin {
		respond 404
	}

	handle_path /pb/* {
		reverse_proxy {
			dynamic a {$POCKETBASE_UPSTREAM:pocketbase} 8090 {
				refresh 1s
				resolvers 127.0.0.11
				versions ipv4
			}
			lb_try_duration 5s
			flush_interval -1
		}
	}

	handle {
		reverse_proxy {
			dynamic a {$APP_UPSTREAM:app} 8000 {
				refresh 1s
				resolvers 127.0.0.11
				versions ipv4
			}
			lb_try_duration 5s
		}
	}
}
